<style>
    header nav {
        background-color: #010409;
        width:100%;
        position: absolute;
        top:0;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
</style>
<header>
    <nav>
        <a href="/">
            <i class="fa-brands fa-square-pied-piper" style="font-size: 20px;"></i></a>
        <a href="http://github.com/vishnuprasad2004/blog-website"><p>Github</p></a>
        <a href="/profile/"></a><p>Profile</p>
    </nav>
</header>