<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2 | Blog Website</title>
    <%- include('./main-style') %>
    <style>
        body {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    404 Not Found!! | Oops This page is not available 🙃🙃
</body>
</html>